@{
    ViewBag.Title = "Home Page";
}
@using Repositories
@using Models
@using System.Security.Claims
@model IEnumerable<Claim>
<div class="jumbotron" style=" color: #000">
    <h1>Welkom bij <img src="~/Content/Images/distrilogo_png.png"/></h1>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="text-center">
            <p class="lead">Login from account: @User.Identity.Name</p>
            @*<p>@ViewBag.Hash</p>*@
            @Model.Last().Value
            @foreach (Claim claim in Model)
            {
                <p>@claim.Value</p>
            }
            @Html.ActionLink("Download Lege Orderlijst", "PartialEmptyOrderList", "Home", new { target = "_blank" })
        </div>
    }
    else
    {
        <p class="lead">
            DistriFest is een speciaal ontworpen bestelsysteem voor festivals. Met DistriFest kunnen bars snel en simpel bestellingen plaatsen welke ontvangen worden door een centraal
            systeem, waarna deze bestellingen meteen verwerkt kunnen worden bij het Distributiecentrum van het festival. DistriFest draagt op deze manier bij aan snelle en accurate leveringen en bevat daarnaast ook simpele maar volledige rapportage mogelijkheden
            over alle producten die tijdens het festival zijn binnengekomen en uitgeleverd.
        </p>
    }
</div>