@{
    ViewBag.Title = "Home Page";
}
@using Repositories
@using Models
@using System.Security.Claims
@model IEnumerable<Claim>
<div class="jumbotron" style=" color: #000">
    <h1>DistriFest</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="text-center">
            <p class="lead">Login from @User.Identity.Name Account.</p>
            @*<p>@ViewBag.Hash</p>*@
            @Model.Last().Value
            @foreach (Claim claim in Model)
            {
                <p>@claim.Value</p>
            }
            @Html.ActionLink("Download Lege Orderlijst", "PartialEmptyOrderList", "Home")
        </div>
    }
    else
    {
        <p class="lead">
            DistriFest is een speciaal ontworpen bestelsysteem voor festivals. Met DistriFest kunnen bars snel en simpel bestellingen plaatsen welke ontvangen worden door een centraal
            systeem en daardoor verwerkt worden bij het Distributiecentrum van het festival. Dit zal zorgdragen voor snelle en accurate leveringen en daarbij ook volledige rapportage mogelijkheden
            over alle producten die tijdens het festival zijn binnengekomen en uitgeleverd.
        </p>
    }
</div>