@using DistriFest.Models
@using System.Text
@using System.Text.RegularExpressions
@model Product
@{
    StringBuilder prodName = new StringBuilder();
    var split = Regex.Split(Model.Name, @"(?<!^)(?=[A-Z])");
    foreach (string s in split)
    {
        //prodName.Append(s);
        //prodName.Append(' ');
    }
}


<td>@prodName</td>
@if (Model.VolumeType == "Liter")
{
    <td>Fust met inhoud van @Model.Volume Liter</td>
}
else
{
    <td>Verpakking met inhoud van @Model.Volume @Model.VolumeType</td>
}


<td class="text-center">
    @using (Html.BeginForm("DeleteProductFromOrder", "Home", FormMethod.Post, new { style = "display: inline" }))
    {
        @Html.HiddenFor(x => x.ID, Model.ID)
        <input type="submit" value="Verwijder" class="btn btn-default" style="background-color: #343477; color: #999" onclick="" />
    }
</td>


@prodName.Clear()