@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Voorraadbeheer";
}
@using Models
@using Repositories
@using Interfaces
@model List<Product>
<div class="row">
    <table class="table table-responsive table-striped table-hover table-bordered">
        <thead>
            @if (!User.IsInRole("StockOnly"))
            {
                <tr>
                    <th colspan="3" class="text-center"><a href="/Home/Delivery" class="btn btn-green-wide">Registreer Nieuwe Levering</a></th>
                </tr>
                <tr>
                    <th colspan="3" class="text-center"><a href="/Home/DCOrder" class="btn btn-green-wide">Registreer Nieuwe Bestelling</a></th>
                </tr>
            }
            <tr>
                <th>#</th>
                <th>Product</th>
                <th>Voorraad</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Product prod in Model)
            {
                <tr>
                    <td>@prod.ID</td>
                    <td>@prod.Name @prod.Volume @prod.VolumeType</td>
                    <td>@prod.AmountInStock</td>
                </tr>
            }
        </tbody>
    </table>
</div>

